local
.settings
*.pyc
*.pyo
.cache
tmp
.project
.pydevproject
\#*
.\#*
.*.swp
*~
.*.sw*
TAGS
tags
*.iml
.ropeproject
*_flymake.py
*,cover
.coverage
coverage/
docs/api-docs/build
sphinx
.~lock.*
.noseids
*.egg-info/
build/
dist/
*.log
*.log.*
.dir-locals.el
.idea/
_build/
node_modules/
*/less/*css
*/less/*/*css
coverage.xml
rentmybike.db
custom.py
