Flask==0.8
flask-csrf==0.9.2
Flask-Mail==0.6.1
gunicorn==0.16.1
Jinja2==2.6
Mako==0.7.0
MarkupSafe==0.15
SQLAlchemy==0.7.6
WTForms==1.0.1
Werkzeug==0.8.3
balanced>=1.1,<1.2
decorator==3.3.3
iso8601==0.1.4
wsgiref==0.1.2
psycopg2==2.4.5
